In [2]:
import pandas as pd

This example shows how I collected tract level ACS data at Illinois state, and then what was done after I downloaded ACS. First, I downloaded about 200 variables like below (copy and paste these URLs below in your browser):


https://api.census.gov/data/2019/acs/acs5?get=B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E&for=block%20group:*&in=state:48%20county:209&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b


https://api.census.gov/data/2019/acs/acs5?get=B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B03001_001E,B03001_002E,B03001_003E,B05002_001E,B05002_013E,B05006_001E,B05007_014E,B05007_027E,B05007_040E,B07001_001E,B07001_017E,B07001_033E,B07001_049E,B07001_065E,B07001_081E,B07013_001E,B07013_002E,B07013_003E,B07202_001E,B07202_002E,B07202_003E,B08006_001E,B08006_002E,B08006_008E,B08006_014E,B08006_015E,B08006_016E,B08008_001E,B08008_002E,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E&for=block%20group:*&in=state:48%20county:209&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2019/acs/acs5?get=B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,B06008_002E,B06008_003E,B06008_005E,B06008_006E,B06008_004E,B06007_001E,B06007_002E,B06007_003E,B06007_006E,B06012_001E,B06012_002E,B06011_001E,B19013_001E,B20017_001E,B25111_001E,B08124_001E,B08124_002E,B08124_003E,B08124_004E,B08124_005E,B08124_006E,B08124_007E,B08126_001E,B08126_002E,B08126_003E,B08126_004E,B08126_005E,B08126_006E,B08126_007E,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E&for=block%20group:*&in=state:48%20county:209&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2019/acs/acs5?get=B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,B27011_009E,B27011_012E,B27011_014E,B27011_017E,B12006_019E,B12006_020E,B25034_001E,B25034_002E,B25034_003E,B25034_004E,B25034_005E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25035_001E,B25026_001E,B25026_002E,B25026_003E,B25026_004E,B25026_005E,B25026_009E,B25026_010E,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E&for=block%20group:*&in=state:48%20county:209&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2019/acs/acs5?get=B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E&for=block%20group:*&in=state:48%20county:209&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b



As a result, you should have 5 json files: Tract_1.json, Tract_2.json, Tract_3.json, Tract_4.json, Tract_5.json, Trac_6.json

Now I am going to join the five json files.

In [3]:
#set column header
Tract_1 = pd.read_json('TX_block1.json')
new_header = Tract_1.iloc[0] 
Tract_1 = Tract_1[1:] 
Tract_1.columns = new_header
Tract_1

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,state,county,tract,block group
1,33.8,33.3,50.2,1612,1024,588,72,98,0,0,...,190,34,0,0,17,55,48,209,010600,3
2,22.3,23.4,20.8,1620,783,837,0,36,28,52,...,57,0,0,0,0,0,48,209,010600,2
3,45.6,45.1,46.8,2929,1293,1636,25,0,25,0,...,94,190,26,17,0,90,48,209,010600,4
4,49.0,48.9,49.2,1806,877,929,61,87,0,62,...,91,60,0,17,23,16,48,209,010600,5
5,19.5,19.7,19.4,3926,1531,2395,0,0,9,0,...,0,10,0,17,16,11,48,209,010200,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,42.2,40.9,42.6,1103,526,577,0,38,3,0,...,20,43,0,0,50,10,48,453,002107,3
657,32.7,38.8,28.4,1524,761,763,27,104,23,0,...,31,38,25,0,10,12,48,453,002107,4
658,32.3,27.2,40.5,1215,668,547,81,31,117,42,...,25,0,0,11,0,27,48,453,002111,2
659,26.0,25.9,26.5,1853,1071,782,58,57,0,101,...,57,18,0,0,0,0,48,453,002316,2
660,34.4,34.1,40.4,2631,1651,980,131,0,73,77,...,117,20,0,71,66,24,48,453,001804,3

In [4]:
#set column header
Tract_2 = pd.read_json('TX_block2.json')
new_header = Tract_2.iloc[0] 
Tract_2 = Tract_2[1:] 
Tract_2.columns = new_header
Tract_2

,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,state,county,tract,block group
1,0,0,0,17,1612,1410,0,0,0,0,...,158,60,252,0,16,238,48,209,010600,3
2,29,0,0,0,1620,1469,40,0,0,0,...,96,29,150,29,52,24,48,209,010600,2
3,47,284,35,18,2929,2697,17,0,82,0,...,202,105,82,458,49,48,48,209,010600,4
4,38,103,56,43,1806,1580,32,0,0,0,...,72,42,203,40,139,23,48,209,010600,5
5,0,0,10,0,3926,2942,485,24,163,0,...,277,291,105,152,3,95,48,209,010200,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,42,32,14,23,1103,680,285,4,7,0,...,32,47,126,63,40,60,48,453,002107,3
657,0,11,10,0,1524,786,346,0,36,0,...,4,17,36,208,133,168,48,453,002107,4
658,36,9,0,36,1215,1018,31,0,8,0,...,66,93,73,109,47,105,48,453,002111,2
659,0,0,14,0,1853,1168,190,13,211,0,...,107,110,191,236,16,209,48,453,002316,2
660,0,0,39,12,2631,1056,379,72,423,0,...,158,342,211,311,53,76,48,453,001804,3

In [5]:
#set column header
Tract_3 = pd.read_json('TX_block3.json')
new_header = Tract_3.iloc[0] 
Tract_3 = Tract_3[1:] 
Tract_3.columns = new_header
Tract_3

,B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,...,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E,state,county,tract,block group
1,0,24,260,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,209,010600,3
2,0,53,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,209,010600,2
3,60,162,103,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,209,010600,4
4,25,63,53,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,209,010600,5
5,8,205,55,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,209,010200,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,39,61,19,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,453,002107,3
657,55,51,28,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,453,002107,4
658,13,0,14,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,453,002111,2
659,19,95,86,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,453,002316,2
660,38,20,122,None,None,None,None,None,None,None,...,None,None,None,None,None,None,48,453,001804,3

In [6]:
#set column header
Tract_4 = pd.read_json('TX_block4.json')
new_header = Tract_4.iloc[0] 
Tract_4 = Tract_4[1:] 
Tract_4.columns = new_header
Tract_4

,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,...,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E,state,county,tract,block group
1,None,None,None,None,None,None,None,None,None,None,...,0,459,263,196,None,None,48,209,010600,3
2,None,None,None,None,None,None,None,None,None,None,...,0,548,204,344,None,None,48,209,010600,2
3,None,None,None,None,None,None,None,None,None,None,...,135,1235,944,291,None,None,48,209,010600,4
4,None,None,None,None,None,None,None,None,None,None,...,0,620,574,46,None,None,48,209,010600,5
5,None,None,None,None,None,None,None,None,None,None,...,24,294,82,212,None,None,48,209,010200,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,None,None,None,None,None,None,None,None,None,None,...,40,374,285,89,None,None,48,453,002107,3
657,None,None,None,None,None,None,None,None,None,None,...,19,442,168,274,None,None,48,453,002107,4
658,None,None,None,None,None,None,None,None,None,None,...,58,454,343,111,None,None,48,453,002111,2
659,None,None,None,None,None,None,None,None,None,None,...,65,815,16,799,None,None,48,453,002316,2
660,None,None,None,None,None,None,None,None,None,None,...,30,1082,6,1076,None,None,48,453,001804,3

In [7]:
#Tract_5 column header
Tract_5 = pd.read_json('TX_block5.json')
new_header = Tract_5.iloc[0] 
Tract_5 = Tract_5[1:] 
Tract_5.columns = new_header
Tract_5

,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E,state,county,tract,block group
1,None,None,None,None,None,1350,115,1235,48,209,010600,3
2,None,None,None,None,None,1395,0,1395,48,209,010600,2
3,None,None,None,None,None,2638,132,2506,48,209,010600,4
4,None,None,None,None,None,1421,174,1247,48,209,010600,5
5,None,None,None,None,None,3878,42,3836,48,209,010200,2
...,...,...,...,...,...,...,...,...,...,...,...,...
656,None,None,None,None,None,956,45,911,48,453,002107,3
657,None,None,None,None,None,1122,63,1059,48,453,002107,4
658,None,None,None,None,None,907,11,896,48,453,002111,2
659,None,None,None,None,None,1427,99,1328,48,453,002316,2
660,None,None,None,None,None,2190,44,2146,48,453,001804,3

In [9]:
#tmp
tmp = Tract_1.merge(Tract_2, how='inner', left_on=["state", "county", "tract", "block group"], right_on=["state", "county", "tract", "block group"])
tmp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E
0,33.8,33.3,50.2,1612,1024,588,72,98,0,0,...,800,208,0,1008,158,60,252,0,16,238
1,22.3,23.4,20.8,1620,783,837,0,36,28,52,...,404,83,0,433,96,29,150,29,52,24
2,45.6,45.1,46.8,2929,1293,1636,25,0,25,0,...,450,463,545,1269,202,105,82,458,49,48
3,49.0,48.9,49.2,1806,877,929,61,87,0,62,...,0,0,687,660,72,42,203,40,139,23
4,19.5,19.7,19.4,3926,1531,2395,0,0,9,0,...,658,558,0,1191,277,291,105,152,3,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,42.2,40.9,42.6,1103,526,577,0,38,3,0,...,471,32,0,487,32,47,126,63,40,60
656,32.7,38.8,28.4,1524,761,763,27,104,23,0,...,689,63,0,700,4,17,36,208,133,168
657,32.3,27.2,40.5,1215,668,547,81,31,117,42,...,432,94,0,520,66,93,73,109,47,105
658,26.0,25.9,26.5,1853,1071,782,58,57,0,101,...,1075,60,0,1069,107,110,191,236,16,209
659,34.4,34.1,40.4,2631,1651,980,131,0,73,77,...,1044,287,0,1331,158,342,211,311,53,76

In [10]:
#join
tmp = tmp.merge(Tract_3, how='inner', left_on=["state", "county", "tract", "block group"], right_on=["state", "county", "tract", "block group"])
tmp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E
0,33.8,33.3,50.2,1612,1024,588,72,98,0,0,...,None,None,None,None,None,None,None,None,None,None
1,22.3,23.4,20.8,1620,783,837,0,36,28,52,...,None,None,None,None,None,None,None,None,None,None
2,45.6,45.1,46.8,2929,1293,1636,25,0,25,0,...,None,None,None,None,None,None,None,None,None,None
3,49.0,48.9,49.2,1806,877,929,61,87,0,62,...,None,None,None,None,None,None,None,None,None,None
4,19.5,19.7,19.4,3926,1531,2395,0,0,9,0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,42.2,40.9,42.6,1103,526,577,0,38,3,0,...,None,None,None,None,None,None,None,None,None,None
656,32.7,38.8,28.4,1524,761,763,27,104,23,0,...,None,None,None,None,None,None,None,None,None,None
657,32.3,27.2,40.5,1215,668,547,81,31,117,42,...,None,None,None,None,None,None,None,None,None,None
658,26.0,25.9,26.5,1853,1071,782,58,57,0,101,...,None,None,None,None,None,None,None,None,None,None
659,34.4,34.1,40.4,2631,1651,980,131,0,73,77,...,None,None,None,None,None,None,None,None,None,None

In [11]:
tmp = tmp.merge(Tract_4, how='inner', left_on=["state", "county", "tract", "block group"], right_on=["state", "county", "tract", "block group"])
tmp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E
0,33.8,33.3,50.2,1612,1024,588,72,98,0,0,...,None,None,459,459,0,459,263,196,None,None
1,22.3,23.4,20.8,1620,783,837,0,36,28,52,...,None,None,548,548,0,548,204,344,None,None
2,45.6,45.1,46.8,2929,1293,1636,25,0,25,0,...,None,None,1370,1235,135,1235,944,291,None,None
3,49.0,48.9,49.2,1806,877,929,61,87,0,62,...,None,None,620,620,0,620,574,46,None,None
4,19.5,19.7,19.4,3926,1531,2395,0,0,9,0,...,None,None,318,294,24,294,82,212,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,42.2,40.9,42.6,1103,526,577,0,38,3,0,...,None,None,414,374,40,374,285,89,None,None
656,32.7,38.8,28.4,1524,761,763,27,104,23,0,...,None,None,461,442,19,442,168,274,None,None
657,32.3,27.2,40.5,1215,668,547,81,31,117,42,...,None,None,512,454,58,454,343,111,None,None
658,26.0,25.9,26.5,1853,1071,782,58,57,0,101,...,None,None,880,815,65,815,16,799,None,None
659,34.4,34.1,40.4,2631,1651,980,131,0,73,77,...,None,None,1112,1082,30,1082,6,1076,None,None

In [12]:
tmp = tmp.merge(Tract_5, how='inner', left_on=["state", "county", "tract", "block group"], right_on=["state", "county", "tract", "block group"])
tmp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B11011_001E,B11011_002E,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E
0,33.8,33.3,50.2,1612,1024,588,72,98,0,0,...,None,None,None,None,None,None,None,1350,115,1235
1,22.3,23.4,20.8,1620,783,837,0,36,28,52,...,None,None,None,None,None,None,None,1395,0,1395
2,45.6,45.1,46.8,2929,1293,1636,25,0,25,0,...,None,None,None,None,None,None,None,2638,132,2506
3,49.0,48.9,49.2,1806,877,929,61,87,0,62,...,None,None,None,None,None,None,None,1421,174,1247
4,19.5,19.7,19.4,3926,1531,2395,0,0,9,0,...,None,None,None,None,None,None,None,3878,42,3836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,42.2,40.9,42.6,1103,526,577,0,38,3,0,...,None,None,None,None,None,None,None,956,45,911
656,32.7,38.8,28.4,1524,761,763,27,104,23,0,...,None,None,None,None,None,None,None,1122,63,1059
657,32.3,27.2,40.5,1215,668,547,81,31,117,42,...,None,None,None,None,None,None,None,907,11,896
658,26.0,25.9,26.5,1853,1071,782,58,57,0,101,...,None,None,None,None,None,None,None,1427,99,1328
659,34.4,34.1,40.4,2631,1651,980,131,0,73,77,...,None,None,None,None,None,None,None,2190,44,2146

NameError: name 'Tract_6' is not defined

In [14]:
tmp.to_csv('ACS_2019_5year__block_Texas.csv')