In [3]:
import pandas as pd

This example shows how I collected tract level ACS data, and then what was done after I downloaded ACS. First, I downloaded about 200 variables like below (copy and paste these URLs below in your browser):

https://api.census.gov/data/2018/acs/acs5?get=B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B03001_001E,B03001_002E,B03001_003E,B05002_001E,B05002_013E,B05006_001E,B05007_014E,B05007_027E,B05007_040E,B07001_001E,B07001_017E,B07001_033E,B07001_049E,B07001_065E,B07001_081E,B07013_001E,B07013_002E,B07013_003E,B07202_001E,B07202_002E,B07202_003E,B08006_001E,B08006_002E,B08006_008E,B08006_014E,B08006_015E,B08006_016E,B08008_001E,B08008_002E,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,B06008_002E,B06008_003E,B06008_005E,B06008_006E,B06008_004E,B06007_001E,B06007_002E,B06007_003E,B06007_006E,B06012_001E,B06012_002E,B06011_001E,B19013_001E,B20017_001E,B25111_001E,B08124_001E,B08124_002E,B08124_003E,B08124_004E,B08124_005E,B08124_006E,B08124_007E,B08126_001E,B08126_002E,B08126_003E,B08126_004E,B08126_005E,B08126_006E,B08126_007E,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,B27011_009E,B27011_012E,B27011_014E,B27011_017E,B12006_019E,B12006_020E,B25034_001E,B25034_002E,B25034_003E,B25034_004E,B25034_005E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25035_001E,B25026_001E,B25026_002E,B25026_003E,B25026_004E,B25026_005E,B25026_009E,B25026_010E,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5/profile?get=DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E&for=tract:*&in=state:17&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

As a result, you should have 5 json files: Tract_1.json, Tract_2.json, Tract_3.json, Tract_4.json, Tract_5.json, Trac_6.json

Now I am going to join the five json files. The data contains all zipcode in the U.S. But I need the data only for Illiois in this case, so I am going to join the data to the Illinois at the end.

In [4]:
#set column header
Tract_1 = pd.read_json('Tract_1.json')
new_header = Tract_1.iloc[0] 
Tract_1 = Tract_1[1:] 
Tract_1.columns = new_header
Tract_1

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,state,county,tract
1,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,70,105,43,55,38,65,68,17,165,956100
2,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,84,71,75,55,41,32,43,17,165,955700
3,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,46,141,182,54,0,50,43,17,165,955900
4,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,121,83,72,12,31,51,10,17,197,882900
5,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,132,98,80,35,51,37,99,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,82,102,34,10,75,0,26,17,031,301701
3120,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,166,89,91,47,30,23,46,17,031,301702
3121,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,48,74,51,46,0,25,63,17,031,301801
3122,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,74,50,129,23,20,33,23,17,031,301802
3123,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,142,217,115,41,123,22,22,17,031,301803

In [20]:
#set column header
Tract_2 = pd.read_json('Tract_2.json')
new_header = Tract_2.iloc[0] 
Tract_2 = Tract_2[1:] 
Tract_2.columns = new_header
Tract_2

,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,state,county,tract
1,74,64,19,32,2649,2365,207,4,0,0,...,1032,142,153,228,56,39,73,17,165,956100
2,45,27,66,39,2423,2392,5,0,4,0,...,998,250,85,98,136,72,205,17,165,955700
3,16,35,18,100,2180,2004,39,0,69,8,...,761,395,109,88,28,11,66,17,165,955900
4,23,13,3,5,2344,1804,143,10,21,0,...,1149,215,212,204,179,41,116,17,197,882900
5,157,41,86,206,3759,1999,1307,20,0,0,...,1248,198,184,226,92,33,167,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,69,35,33,37,3943,2867,4,0,0,0,...,1479,85,104,119,154,80,246,17,031,301701
3120,15,19,8,0,4387,2119,0,0,0,0,...,1683,60,73,195,247,32,316,17,031,301702
3121,105,66,0,13,3625,1810,1,1,0,0,...,1297,14,126,196,180,43,291,17,031,301801
3122,49,42,0,12,3509,1867,30,15,0,0,...,1266,29,134,170,59,92,192,17,031,301802
3123,70,38,11,12,5011,2892,147,0,0,0,...,2134,86,78,223,238,55,689,17,031,301803

In [21]:
#set column header
Tract_3 = pd.read_json('Tract_3.json')
new_header = Tract_3.iloc[0] 
Tract_3 = Tract_3[1:] 
Tract_3.columns = new_header
Tract_3

,B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,...,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E,state,county,tract
1,192,98,51,1038,72,344,363,179,80,2166,...,339,98,126,0,607,1817,274,17,165,956100
2,30,56,66,944,32,251,361,198,102,2038,...,207,113,83,0,645,1723,186,17,165,955700
3,16,43,5,966,201,277,327,119,42,1842,...,167,85,49,0,520,1623,379,17,165,955900
4,38,56,88,866,39,346,297,134,50,1869,...,129,126,47,0,965,1532,270,17,197,882900
5,144,152,52,1183,186,339,320,247,91,3072,...,173,47,36,0,1010,2665,728,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,102,115,474,1056,265,417,258,73,43,2811,...,185,201,27,0,781,2403,964,17,031,301701
3120,61,332,367,1089,194,534,291,51,19,3203,...,212,243,27,0,866,2459,1045,17,031,301702
3121,101,284,62,1052,91,509,372,48,32,2633,...,249,86,75,0,926,2099,915,17,031,301801
3122,139,213,238,866,157,376,192,95,46,2664,...,93,154,5,0,813,2155,1060,17,031,301802
3123,179,259,327,1348,279,598,300,107,64,3836,...,175,303,21,0,850,3022,1410,17,031,301803

In [22]:
#set column header
Tract_4 = pd.read_json('Tract_4.json')
new_header = Tract_4.iloc[0] 
Tract_4 = Tract_4[1:] 
Tract_4.columns = new_header
Tract_4

,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,...,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E,state,county,tract
1,639,686,135,83,1421,1040,64,381,883,93,...,1038,168,1038,812,226,1038,755,17,165,956100
2,419,739,231,148,1375,1047,63,328,896,88,...,944,196,944,745,199,944,678,17,165,955700
3,449,605,134,56,1262,859,110,403,719,30,...,966,246,966,513,453,966,543,17,165,955900
4,583,511,98,70,1509,1157,55,352,951,151,...,866,84,866,427,439,866,532,17,197,882900
5,1035,637,168,97,1787,1409,157,378,978,274,...,1183,83,1183,542,641,1183,679,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,715,530,147,47,2289,1706,203,583,887,616,...,1056,195,1056,351,705,1056,827,17,031,301701
3120,920,364,108,22,2664,1948,172,716,989,787,...,1089,57,1089,486,603,1089,950,17,031,301702
3121,752,234,149,49,1916,1410,111,506,807,492,...,1052,149,1052,396,656,1052,832,17,031,301801
3122,657,240,173,25,2142,1524,215,618,645,664,...,866,123,866,366,500,866,700,17,031,301802
3123,1091,329,133,59,3090,2313,153,777,1251,909,...,1348,162,1348,525,823,1348,1038,17,031,301803

In [23]:
#Tract_5 column header
Tract_5 = pd.read_json('Tract_5.json')
new_header = Tract_5.iloc[0] 
Tract_5 = Tract_5[1:] 
Tract_5.columns = new_header
Tract_5

,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E,state,county,tract
1,563,517,12,189,36,2035,262,1773,17,165,956100
2,569,517,9,205,18,1922,214,1708,17,165,955700
3,351,318,15,131,264,1781,152,1629,17,165,955900
4,355,327,28,236,98,1791,53,1738,17,197,882900
5,408,383,25,252,252,2912,221,2691,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...
3119,472,141,331,18,211,2660,1,2659,17,031,301701
3120,518,202,316,26,113,2980,0,2980,17,031,301702
3121,470,143,327,67,153,2427,79,2348,17,031,301801
3122,396,72,324,57,109,2500,12,2488,17,031,301802
3123,722,168,554,98,212,3610,0,3610,17,031,301803

In [24]:
#set column header
Tract_6 = pd.read_json('Tract_6.json')
new_header = Tract_6.iloc[0] 
Tract_6 = Tract_6[1:] 
Tract_6.columns = new_header
Tract_6

,DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state,county,tract
1,1206,958,0,38,15,3,18,0,174,0,17,165,956100
2,1140,896,21,10,45,0,0,0,168,0,17,165,955700
3,1212,795,11,6,91,109,7,125,68,0,17,165,955900
4,950,717,32,115,52,32,2,0,0,0,17,197,882900
5,1266,955,34,15,0,0,0,262,0,0,17,197,883000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,1251,249,7,611,308,76,0,0,0,0,17,031,301701
3120,1146,304,41,415,316,70,0,0,0,0,17,031,301702
3121,1201,344,0,484,354,19,0,0,0,0,17,031,301801
3122,989,144,40,406,327,30,17,25,0,0,17,031,301802
3123,1510,366,0,637,382,91,16,18,0,0,17,031,301803

In [26]:
#tmp
tmp = Tract_1.merge(Tract_2, how='inner', left_on=["state", "county", "tract"], right_on=["state", "county", "tract"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E
0,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,92,601,355,1032,142,153,228,56,39,73
1,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,117,204,744,998,250,85,98,136,72,205
2,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,538,225,38,761,395,109,88,28,11,66
3,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,108,1045,0,1149,215,212,204,179,41,116
4,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,251,272,742,1248,198,184,226,92,33,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,775,776,0,1479,85,104,119,154,80,246
3119,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,1158,608,0,1683,60,73,195,247,32,316
3120,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,871,478,0,1297,14,126,196,180,43,291
3121,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,803,517,0,1266,29,134,170,59,92,192
3122,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,1319,880,0,2134,86,78,223,238,55,689

In [27]:
#join
tmp = tmp.merge(Tract_3, how='inner', left_on=["state", "county", "tract"], right_on=["state", "county", "tract"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E
0,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,16,20,60,339,98,126,0,607,1817,274
1,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,23,44,35,207,113,83,0,645,1723,186
2,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,0,28,50,167,85,49,0,520,1623,379
3,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,13,45,108,129,126,47,0,965,1532,270
4,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,13,81,161,173,47,36,0,1010,2665,728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,0,37,285,185,201,27,0,781,2403,964
3119,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,17,83,242,212,243,27,0,866,2459,1045
3120,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,34,0,152,249,86,75,0,926,2099,915
3121,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,0,71,190,93,154,5,0,813,2155,1060
3122,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,24,81,196,175,303,21,0,850,3022,1410

In [28]:
tmp = tmp.merge(Tract_4, how='inner', left_on=["state", "county", "tract"], right_on=["state", "county", "tract"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E
0,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,53,379,1206,1038,168,1038,812,226,1038,755
1,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,107,195,1140,944,196,944,745,199,944,678
2,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,140,455,1212,966,246,966,513,453,966,543
3,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,159,693,950,866,84,866,427,439,866,532
4,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,229,1103,1266,1183,83,1183,542,641,1183,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,344,1279,1251,1056,195,1056,351,705,1056,827
3119,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,241,1423,1146,1089,57,1089,486,603,1089,950
3120,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,272,1223,1201,1052,149,1052,396,656,1052,832
3121,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,211,1001,989,866,123,866,366,500,866,700
3122,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,260,1981,1510,1348,162,1348,525,823,1348,1038

In [29]:
tmp = tmp.merge(Tract_5, how='inner', left_on=["state", "county", "tract"], right_on=["state", "county", "tract"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B11011_001E,B11011_002E,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E
0,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,1038,755,563,517,12,189,36,2035,262,1773
1,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,944,678,569,517,9,205,18,1922,214,1708
2,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,966,543,351,318,15,131,264,1781,152,1629
3,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,866,532,355,327,28,236,98,1791,53,1738
4,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,1183,679,408,383,25,252,252,2912,221,2691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,1056,827,472,141,331,18,211,2660,1,2659
3119,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,1089,950,518,202,316,26,113,2980,0,2980
3120,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,1052,832,470,143,327,67,153,2427,79,2348
3121,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,866,700,396,72,324,57,109,2500,12,2488
3122,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,1348,1038,722,168,554,98,212,3610,0,3610

In [30]:
tmp = tmp.merge(Tract_6, how='inner', left_on=["state", "county", "tract"], right_on=["state", "county", "tract"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E
0,350,200,39.5,47.0,37.6,2649,1217,1432,68,72,...,1206,958,0,38,15,3,18,0,174,0
1,400,200,42.2,42.5,41.7,2423,1222,1201,56,40,...,1140,896,21,10,45,0,0,0,168,0
2,200,100,47.2,40.8,52.0,2180,999,1181,36,45,...,1212,795,11,6,91,109,7,125,68,0
3,450,200,33.3,34.9,32.2,2344,1143,1201,47,68,...,950,717,32,115,52,32,2,0,0,0
4,350,100,42.0,34.4,45.8,3759,1842,1917,71,160,...,1266,955,34,15,0,0,0,262,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,200,60,31.5,35.2,27.8,3943,1923,2020,196,269,...,1251,249,7,611,308,76,0,0,0,0
3119,300,90,28.2,27.7,28.9,4387,2381,2006,219,202,...,1146,304,41,415,316,70,0,0,0,0
3120,200,60,31.5,32.1,31.0,3625,1797,1828,345,103,...,1201,344,0,484,354,19,0,0,0,0
3121,300,100,32.5,32.4,32.6,3509,1824,1685,74,241,...,989,144,40,406,327,30,17,25,0,0
3122,300,100,30.1,29.6,30.6,5011,2619,2392,229,155,...,1510,366,0,637,382,91,16,18,0,0

In [31]:
tmp.to_csv('ACS_2018_5year__tract_IL.csv')