In [1]:
import pandas as pd

This example shows how I collected county level ACS data, and then how the join was done after I downloaded ACS. First, I downloaded about 200 variables like below (copy and paste these URLs below in your browser):

https://api.census.gov/data/2018/acs/acs5?get=B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B03001_001E,B03001_002E,B03001_003E,B05002_001E,B05002_013E,B05006_001E,B05007_014E,B05007_027E,B05007_040E,B07001_001E,B07001_017E,B07001_033E,B07001_049E,B07001_065E,B07001_081E,B07013_001E,B07013_002E,B07013_003E,B07202_001E,B07202_002E,B07202_003E,B08006_001E,B08006_002E,B08006_008E,B08006_014E,B08006_015E,B08006_016E,B08008_001E,B08008_002E,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,B06008_002E,B06008_003E,B06008_005E,B06008_006E,B06008_004E,B06007_001E,B06007_002E,B06007_003E,B06007_006E,B06012_001E,B06012_002E,B06011_001E,B19013_001E,B20017_001E,B25111_001E,B08124_001E,B08124_002E,B08124_003E,B08124_004E,B08124_005E,B08124_006E,B08124_007E,B08126_001E,B08126_002E,B08126_003E,B08126_004E,B08126_005E,B08126_006E,B08126_007E,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,B27011_009E,B27011_012E,B27011_014E,B27011_017E,B12006_019E,B12006_020E,B25034_001E,B25034_002E,B25034_003E,B25034_004E,B25034_005E,B25034_006E,B25034_007E,B25034_008E,B25034_009E,B25034_010E,B25034_011E,B25035_001E,B25026_001E,B25026_002E,B25026_003E,B25026_004E,B25026_005E,B25026_009E,B25026_010E,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5?get=B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2018/acs/acs5/profile?get=DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E&for=county:*&in=state:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

As a result, you should have 5 json files: County_1.json, County_2.json, County_3.json, County_4.json, County_5.json, County_6.json

In [2]:
#set column header
County_1 = pd.read_json('County_1.json')
new_header = County_1.iloc[0] 
County_1 = County_1[1:] 
County_1.columns = new_header
County_1

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,state,county
1,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,1281,1523,1636,1850,654,1084,691,849,28,151
2,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,391,336,448,357,245,253,225,246,28,111
3,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,225,303,242,236,110,252,171,124,28,019
4,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,905,809,764,742,308,403,215,358,28,057
5,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,333,307,354,473,143,172,202,191,28,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,398,478,595,718,272,490,276,273,19,043
3217,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,451,597,540,707,207,350,176,290,19,021
3218,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,230,321,389,457,161,190,111,194,19,077
3219,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,257,240,322,424,137,188,138,119,19,091
3220,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,669,649,741,831,264,434,167,394,19,183

In [3]:
#set column header
County_2 = pd.read_json('County_2.json')
new_header = County_2.iloc[0] 
County_2 = County_2[1:] 
County_2.columns = new_header
County_2

,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,state,county
1,805,702,428,559,47086,12097,33982,56,282,0,...,2795,16640,4211,4214,3365,1621,608,1146,28,151
2,206,159,182,139,12028,9475,2368,0,17,0,...,3659,4401,599,478,546,275,135,1034,28,111
3,219,167,157,143,8321,5631,2596,23,15,8,...,2226,2927,501,269,271,400,151,435,28,019
4,631,384,301,353,23480,21346,1681,75,57,7,...,7299,9032,990,1113,1238,1063,1167,1988,28,057
5,335,170,170,125,10129,6523,3503,6,0,0,...,3061,3312,317,220,363,649,477,409,28,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,460,374,321,395,17672,17215,181,36,79,0,...,4007,8453,2654,1087,1248,714,567,808,19,043
3217,250,205,229,462,20260,15684,551,3,2155,97,...,2014,9723,4482,1765,1169,687,417,494,19,021
3218,335,232,185,232,10674,10372,3,36,27,0,...,1959,4960,1264,702,447,270,202,424,19,077
3219,220,196,186,213,9566,9315,25,41,40,0,...,1197,4442,1604,639,493,440,275,535,19,091
3220,554,421,244,501,22143,21307,201,60,104,0,...,4238,10233,3006,1271,796,1116,589,1402,19,183

In [4]:
#set column header
County_3 = pd.read_json('County_3.json')
new_header = County_3.iloc[0] 
County_3 = County_3[1:] 
County_3.columns = new_header
County_3

,B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,...,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E,state,county
1,639,415,421,18299,2429,7492,6055,1627,696,36811,...,975,4647,1718,1258,26,646,30308,6523,28,151
2,301,482,551,4563,275,1419,1547,820,502,9718,...,313,972,362,319,23,495,8198,1536,28,111
3,138,410,352,3164,243,1068,986,589,278,6813,...,121,841,18,161,4,448,5799,1134,28,019
4,679,360,434,8706,337,2623,3488,1616,642,19273,...,609,2010,547,252,0,564,15684,3375,28,057
5,384,184,309,3658,173,925,1644,644,272,8467,...,229,725,199,332,0,523,7248,1324,28,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,361,431,583,7652,453,2065,2922,1373,839,14498,...,366,1841,507,213,0,684,12629,1113,19,043
3217,267,198,244,7550,291,2116,2798,1648,697,15920,...,407,2362,677,146,0,695,12766,2840,19,021
3218,434,569,648,4397,146,1026,1781,945,499,8715,...,316,1148,250,177,8,730,7523,539,19,077
3219,178,82,196,4221,233,1180,1636,727,445,7688,...,157,912,204,161,4,617,6682,520,19,091
3220,862,845,346,8720,336,2412,3512,1575,885,17600,...,608,2912,470,314,10,843,14975,1336,19,183

In [5]:
#set column header
County_4 = pd.read_json('County_4.json')
new_header = County_4.iloc[0] 
County_4 = County_4[1:] 
County_4.columns = new_header
County_4

,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,...,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E,state,county
1,9254,8835,3476,2220,26882,18449,2877,8433,11947,3625,...,21591,18299,3292,18299,9888,8411,18299,11477,28,151
2,3290,2474,694,204,6984,4569,299,2415,3326,944,...,5620,4563,1057,4563,3804,759,4563,3182,28,111
3,2201,1440,625,399,4546,3077,243,1469,2482,352,...,4200,3164,1036,3164,2417,747,3164,1874,28,019
4,4743,5457,1337,772,13836,9245,410,4591,7644,1191,...,10289,8706,1583,8706,6774,1932,8706,6120,28,057
5,2422,2451,692,359,5470,3461,338,2009,2848,275,...,5154,3658,1496,3658,2955,703,3658,2627,28,015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,5502,3848,1670,496,9599,8214,142,1385,7571,501,...,9099,7652,1447,7652,5738,1914,7652,4841,19,043
3217,3762,3658,1751,755,11834,10034,555,1800,8483,996,...,8296,7550,746,7550,5025,2525,7550,5082,19,021
3218,2904,2594,1093,393,5753,4830,170,923,4425,235,...,5786,4397,1389,4397,3493,904,4397,2957,19,077
3219,2401,2368,1089,304,5257,4349,137,908,3969,243,...,4729,4221,508,4221,3133,1088,4221,2687,19,091
3220,5888,4537,2269,945,12229,10226,451,2003,8905,870,...,9686,8720,966,8720,6174,2546,8720,6072,19,183

In [6]:
#Tract_5 column header
County_5 = pd.read_json('County_5.json')
new_header = County_5.iloc[0] 
County_5 = County_5[1:] 
County_5.columns = new_header
County_5

,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E,state,county
1,5716,4959,276,4772,1558,34711,1824,32887,28,151
2,2304,1823,22,650,67,9196,620,8576,28,111
3,1411,1137,9,916,143,6473,423,6050,28,019
4,4448,3669,37,1647,220,18346,1289,17057,28,057
5,2164,1739,0,627,109,8160,615,7545,28,015
...,...,...,...,...,...,...,...,...,...,...
3216,3969,3696,169,2085,575,13859,1387,12472,19,043
3217,3961,3687,192,1540,876,15113,916,14197,19,021
3218,2409,2369,6,1143,238,8243,746,7497,19,077
3219,2241,2110,76,1102,407,7340,697,6643,19,091
3220,4934,4667,126,1663,791,16617,1391,15226,19,183

In [7]:
#set column header
County_6 = pd.read_json('County_6.json')
new_header = County_6.iloc[0] 
County_6 = County_6[1:] 
County_6.columns = new_header
County_6

,DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state,county
1,21591,15759,102,961,757,980,542,704,1786,0,28,151
2,5620,3593,2,64,66,57,2,13,1804,19,28,111
3,4200,2936,1,8,69,102,59,5,1010,10,28,019
4,10289,7556,77,32,139,130,28,138,2189,0,28,057
5,5154,3522,0,1,35,120,0,3,1473,0,28,015
...,...,...,...,...,...,...,...,...,...,...,...,...
3216,9099,7344,165,235,314,154,126,182,579,0,19,043
3217,8296,6614,87,221,321,229,261,306,257,0,19,021
3218,5786,4745,270,91,154,211,71,50,194,0,19,077
3219,4729,4014,4,63,219,130,116,51,132,0,19,091
3220,9686,7490,265,236,374,251,251,231,567,21,19,183

In [8]:
#tmp
tmp = County_1.merge(County_2, how='inner', left_on=["state", "county"], right_on=["state", "county"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B08008_003E,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E
0,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,9427,4611,2795,16640,4211,4214,3365,1621,608,1146
1,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,305,527,3659,4401,599,478,546,275,135,1034
2,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,185,579,2226,2927,501,269,271,400,151,435
3,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,659,1382,7299,9032,990,1113,1238,1063,1167,1988
4,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,68,278,3061,3312,317,220,363,649,477,409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,1853,3183,4007,8453,2654,1087,1248,714,567,808
3216,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,5105,3124,2014,9723,4482,1765,1169,687,417,494
3217,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,939,2317,1959,4960,1264,702,447,270,202,424
3218,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,1525,1898,1197,4442,1604,639,493,440,275,535
3219,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,2911,3711,4238,10233,3006,1271,796,1116,589,1402

In [9]:
#tmp
tmp = tmp.merge(County_3, how='inner', left_on=["state", "county"], right_on=["state", "county"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B08126_008E,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E
0,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,299,607,975,4647,1718,1258,26,646,30308,6523
1,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,42,88,313,972,362,319,23,495,8198,1536
2,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,16,42,121,841,18,161,4,448,5799,1134
3,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,119,513,609,2010,547,252,0,564,15684,3375
4,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,162,132,229,725,199,332,0,523,7248,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,80,371,366,1841,507,213,0,684,12629,1113
3216,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,61,347,407,2362,677,146,0,695,12766,2840
3217,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,106,567,316,1148,250,177,8,730,7523,539
3218,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,91,266,157,912,204,161,4,617,6682,520
3219,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,127,586,608,2912,470,314,10,843,14975,1336

In [10]:
#tmp
tmp = tmp.merge(County_4, how='inner', left_on=["state", "county"], right_on=["state", "county"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B25026_011E,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E
0,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,4429,10793,21591,18299,3292,18299,9888,8411,18299,11477
1,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,344,1086,5620,4563,1057,4563,3804,759,4563,3182
2,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,224,763,4200,3164,1036,3164,2417,747,3164,1874
3,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,1205,2242,10289,8706,1583,8706,6774,1932,8706,6120
4,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,139,469,5154,3658,1496,3658,2955,703,3658,2627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,822,1748,9099,7652,1447,7652,5738,1914,7652,4841
3216,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,1479,2962,8296,7550,746,7550,5025,2525,7550,5082
3217,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,477,1012,5786,4397,1389,4397,3493,904,4397,2957
3218,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,301,1196,4729,4221,508,4221,3133,1088,4221,2687
3219,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,1358,2983,9686,8720,966,8720,6174,2546,8720,6072

In [11]:
#tmp
tmp = tmp.merge(County_5, how='inner', left_on=["state", "county"], right_on=["state", "county"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,B11011_001E,B11011_002E,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E
0,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,18299,11477,5716,4959,276,4772,1558,34711,1824,32887
1,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,4563,3182,2304,1823,22,650,67,9196,620,8576
2,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,3164,1874,1411,1137,9,916,143,6473,423,6050
3,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,8706,6120,4448,3669,37,1647,220,18346,1289,17057
4,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,3658,2627,2164,1739,0,627,109,8160,615,7545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,7652,4841,3969,3696,169,2085,575,13859,1387,12472
3216,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,7550,5082,3961,3687,192,1540,876,15113,916,14197
3217,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,4397,2957,2409,2369,6,1143,238,8243,746,7497
3218,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,4221,2687,2241,2110,76,1102,407,7340,697,6643
3219,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,8720,6072,4934,4667,126,1663,791,16617,1391,15226

In [12]:
#tmp
tmp = tmp.merge(County_6, how='inner', left_on=["state", "county"], right_on=["state", "county"])
tmp

,B00001_001E,B00002_001E,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E
0,3900,1900,36.9,33.7,38.7,47086,22018,25068,1829,1484,...,21591,15759,102,961,757,980,542,704,1786,0
1,1100,500,40.9,39.9,41.4,12028,5845,6183,381,365,...,5620,3593,2,64,66,57,2,13,1804,19
2,850,450,44.0,41.9,46.2,8321,4174,4147,295,267,...,4200,2936,1,8,69,102,59,5,1010,10
3,1900,750,40.0,37.6,42.3,23480,11821,11659,690,809,...,10289,7556,77,32,139,130,28,138,2189,0
4,550,300,47.0,45.4,48.0,10129,5116,5013,274,258,...,5154,3522,0,1,35,120,0,3,1473,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3500,1700,47.1,45.8,48.1,17672,8900,8772,500,689,...,9099,7344,165,235,314,154,126,182,579,0
3216,3400,1400,35.2,34.8,35.5,20260,10238,10022,721,731,...,8296,6614,87,221,321,229,261,306,257,0
3217,2400,1200,45.6,43.9,47.0,10674,5335,5339,275,326,...,5786,4745,270,91,154,211,71,50,194,0
3218,2000,950,43.0,41.9,44.1,9566,4651,4915,258,305,...,4729,4014,4,63,219,130,116,51,132,0
3219,3000,1300,40.8,39.7,41.8,22143,11075,11068,756,643,...,9686,7490,265,236,374,251,251,231,567,21

In [13]:
tmp.to_csv('ACS_2018_5year__County_IL.csv')