In [19]:
import pandas as pd

This example shows how I collected zipcode level ACS data, and then what was done after I downloaded ACS. First, I downloaded about 200 variables like below (copy and paste these URLs below in your browser):
https://api.census.gov/data/2019/acs/acs5?get=B17001_001E,B17001_002E,B19301_001E,B06009_001E,B06009_002E,B09001_001E,B01001H_001E,B16005_007E,B16005_008E,B16005_012E,B16005_013E,B16005_017E,B16005_018E,B16005_022E,B16005_023E,B16005_029E,B16005_030E,B16005_034E,B16005_035E,B16005_039E,B16005_040E,B16005_044E,B16005_045E,B26001_001E&for=zip%20code%20tabulation%20area:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2019/acs/acs5?get=DP03_0005PE,DP03_0005E,DP02_0071E,DP02_0007E,DP02_0009E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0014PE,DP04_0078E,DP04_0079E,DP04_0058E,DP04_0058PE,DP02_0001E,DP02_0001PE,DP04_0001E&for=zip%20code%20tabulation%20area:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b

https://api.census.gov/data/2019/acs/acs5?get=S0101_C01_030E,S0601_C01_049E,S0101_C01_001E&for=zip%20code%20tabulation%20area:*&key=3a0eaa719acf6cf3ba00e207a5d5b5d28f946c1b
As a result, you should have 5 json files: Zip_1_2019.json, Zip_2_2019.json, Zip_3_2019.json, Zip_4_2019.json, Zip_5_2019.json, Zip_6_2019.json

Now I am going to join the five json files. The data contains all zipcode in the U.S. But I need the data only for Illiois in this case, so I am going to join the data to the Illinois at the end.

In [20]:
#set column header
Zip_1 = pd.read_json('Zip_1_2019.json')
new_header = Zip_1.iloc[0] 
Zip_1 = Zip_1[1:] 
Zip_1.columns = new_header
Zip_1

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,state,zip code tabulation area
1,41.9,40.1,43.2,17113,8533,8580,596,434,640,333,...,592,587,634,474,351,418,204,310,72,00601
2,42.9,42.4,43.8,37751,18488,19263,785,1183,826,718,...,1117,1292,1521,1404,574,1028,421,644,72,00602
3,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,1026,...,1639,1463,1671,1419,684,1090,567,1071,72,00603
4,44.3,44.2,45.3,6392,3201,3191,143,140,194,144,...,228,192,249,157,119,219,114,128,72,00606
5,42.7,40.7,44.9,26686,12920,13766,515,723,805,537,...,949,1004,1035,959,292,614,334,599,72,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,0,...,0,0,0,0,0,0,0,14,02,99923
33117,45.2,43.2,45.7,908,520,388,43,24,47,17,...,21,37,43,52,2,6,13,15,02,99925
33118,34.7,34.8,34.6,1654,885,769,45,78,82,48,...,40,65,42,59,14,29,30,5,02,99926
33119,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,02,99927
33120,49.4,49.7,49.1,2502,1357,1145,53,53,85,78,...,58,96,97,112,43,35,60,43,02,99929

In [21]:
#set column header
Zip_2 = pd.read_json('Zip_2_2019.json')
new_header = Zip_2.iloc[0] 
Zip_2 = Zip_2[1:] 
Zip_2.columns = new_header
Zip_2

,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,state,zip code tabulation area
1,402,286,232,206,17113,12616,182,32,2,0,...,2847,3504,541,464,741,240,63,513,72,00601
2,1078,703,529,254,37751,32179,908,46,0,0,...,9722,10525,2323,1286,1942,929,1396,712,72,00602
3,1444,926,837,515,47081,37359,1514,68,108,11,...,8586,11479,2131,2030,3175,1537,308,795,72,00603
4,153,59,74,154,6392,2910,92,17,0,0,...,1093,1228,234,547,38,38,8,161,72,00606
5,722,724,301,289,26686,22042,461,0,0,1,...,5093,8065,1835,1211,1347,689,1031,431,72,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,0,0,0,0,14,14,0,0,0,0,...,0,14,14,0,0,0,0,0,02,99923
33117,29,7,2,5,908,461,6,306,6,7,...,61,377,191,30,65,43,8,15,02,99925
33118,43,10,4,11,1654,241,0,1236,40,0,...,0,518,456,36,4,0,0,0,02,99926
33119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,02,99927
33120,50,58,41,12,2502,1577,1,612,18,9,...,0,894,564,77,163,73,2,3,02,99929

In [22]:
#set column header
Zip_3 = pd.read_json('Zip_3_2019.json')
new_header = Zip_3.iloc[0] 
Zip_3 = Zip_3[1:] 
Zip_3.columns = new_header
Zip_3

,B08134_008E,B08134_009E,B08134_010E,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B06008_001E,...,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E,state,zip code tabulation area
1,89,25,47,294,0,89,57,84,64,580,...,63,40,0,11,0,444,499,65,54,25245
2,0,32,26,354,0,72,166,116,0,804,...,61,88,0,0,0,364,745,157,54,25268
3,31,36,102,613,63,207,196,121,26,1333,...,98,134,21,13,0,473,1177,322,54,25286
4,65,64,84,2970,163,1207,1251,299,50,5447,...,450,856,349,350,21,756,4838,201,54,25303
5,134,165,166,5088,1206,1929,1453,334,166,9234,...,640,1093,742,607,16,633,7866,754,54,25311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,0,0,0,2,0,2,0,0,0,2,...,0,0,0,0,0,-666666666,2,0,28,38704
33117,0,0,0,54,20,0,8,0,26,176,...,0,15,0,0,0,-666666666,145,59,28,38731
33118,0,0,0,34,24,5,5,0,0,67,...,0,0,0,0,0,485,62,29,28,38749
33119,5,0,0,107,59,24,16,7,1,180,...,2,5,8,2,0,286,172,37,28,38781
33120,12,0,0,12,0,0,0,12,0,64,...,0,0,16,0,0,-666666666,50,22,28,38945

In [23]:
#set column header
Zip_4 = pd.read_json('Zip_4_2019.json')
new_header = Zip_4.iloc[0] 
Zip_4 = Zip_4[1:] 
Zip_4.columns = new_header
Zip_4

,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B27011_001E,B27011_002E,B27011_008E,B27011_013E,B27011_004E,B27011_007E,...,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E,state,zip code tabulation area
1,None,None,None,None,10153,5320,1855,4833,3013,452,...,7250,5509,1741,5509,3283,2226,5509,4017,72,00601
2,None,None,None,None,23463,12178,1374,11285,9523,1281,...,17538,12740,4798,12740,9528,3212,12740,9360,72,00602
3,None,None,None,None,26001,14345,3043,11656,10337,965,...,24322,19228,5094,19228,11118,8110,19228,13087,72,00603
4,None,None,None,None,3851,1314,165,2537,1091,58,...,2783,1946,837,1946,1470,476,1946,1399,72,00606
5,None,None,None,None,15969,9005,970,6964,7534,501,...,12455,8795,3660,8795,6758,2037,8795,6228,72,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,0,0,14,0,0,0,0,0,0,0,...,67,14,53,14,14,0,14,0,02,99923
33117,260,210,80,34,557,420,61,137,244,115,...,418,317,101,317,230,87,317,186,02,99925
33118,416,435,76,33,953,669,121,284,411,137,...,552,487,65,487,361,126,487,376,02,99926
33119,0,0,0,0,0,0,0,0,0,0,...,54,0,54,0,0,0,0,0,02,99927
33120,679,613,250,124,1412,1007,71,405,706,230,...,1463,1027,436,1027,697,330,1027,654,02,99929

In [24]:
#set column header
Zip_5 = pd.read_json('Zip_5_2019.json')
new_header = Zip_5.iloc[0] 
Zip_5 = Zip_5[1:] 
Zip_5.columns = new_header
Zip_5

,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E,state,zip code tabulation area
1,2442,2323,119,1395,97,13553,275,13278,72,00601
2,6166,5160,1006,2622,758,30868,596,30272,72,00602
3,7131,6702,429,4764,1364,37773,1979,35794,72,00603
4,666,660,6,527,20,5206,93,5113,72,00606
5,3901,3333,568,1966,601,21683,425,21258,72,00610
...,...,...,...,...,...,...,...,...,...,...
33116,0,0,0,14,0,14,0,14,02,99923
33117,129,88,10,42,29,705,74,631,02,99925
33118,240,197,13,81,20,1188,93,1095,02,99926
33119,0,0,0,0,0,0,0,0,02,99927
33120,530,462,26,166,124,2034,224,1810,02,99929

In [25]:
#set column header
Zip_6 = pd.read_json('Zip_6_2019.json')
new_header = Zip_6.iloc[0] 
Zip_6 = Zip_6[1:] 
Zip_6.columns = new_header
Zip_6

,DP04_0006E,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state,zip code tabulation area
1,343,306,0,0,0,0,0,0,37,0,54,25245
2,464,348,0,0,0,0,0,0,116,0,54,25268
3,899,707,0,0,0,0,0,0,192,0,54,25286
4,3269,2619,53,150,263,82,15,87,0,0,54,25303
5,5740,2671,175,237,529,297,177,1030,624,0,54,25311
...,...,...,...,...,...,...,...,...,...,...,...,...
33116,17,8,0,0,0,0,0,0,9,0,28,38704
33117,71,51,0,0,0,0,0,0,20,0,28,38731
33118,34,34,0,0,0,0,0,0,0,0,28,38749
33119,114,33,0,64,6,3,0,0,8,0,28,38781
33120,23,23,0,0,0,0,0,0,0,0,28,38945

In [26]:
#join
tmp = Zip_1.set_index('zip code tabulation area').join(Zip_2.set_index('zip code tabulation area'), lsuffix = '_left', rsuffix = '_right')
tmp=tmp.reset_index()
tmp

,zip code tabulation area,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,B08008_004E,B08008_005E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,state_right
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,285,2847,3504,541,464,741,240,63,513,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,925,9722,10525,2323,1286,1942,929,1396,712,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,1676,8586,11479,2131,2030,3175,1537,308,795,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,9,1093,1228,234,547,38,38,8,161,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,2333,5093,8065,1835,1211,1347,689,1031,431,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,0,0,14,14,0,0,0,0,0,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,124,61,377,191,30,65,43,8,15,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,72,0,518,456,36,4,0,0,0,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,37,0,894,564,77,163,73,2,3,02

In [27]:
#join
tmp = tmp.set_index('zip code tabulation area').join(Zip_3.set_index('zip code tabulation area'))
tmp=tmp.reset_index()
tmp

,zip code tabulation area,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,B08126_009E,B08126_010E,B08126_011E,B08126_012E,B08126_014E,B08126_015E,B25105_001E,B06009_001E,B06009_002E,state
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,128,213,995,305,522,0,190,None,None,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,263,1334,2011,1110,701,0,169,None,None,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,527,1402,2311,1190,1249,131,248,None,None,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,7,35,248,72,158,0,118,None,None,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,193,690,1331,1075,393,0,191,None,None,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,0,0,14,0,0,0,-666666666,14,0,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,12,26,51,41,64,0,490,646,62,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,4,15,192,25,128,0,399,1044,84,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,0,0,0,0,0,0,-666666666,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,35,24,264,58,96,0,708,1925,259,02

In [28]:
tmp = tmp.set_index('zip code tabulation area').join(Zip_4.set_index('zip code tabulation area'), lsuffix = '_left', rsuffix = '_right')
tmp=tmp.reset_index()
tmp

,zip code tabulation area,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,B25026_012E,B25001_001E,B25002_002E,B25002_003E,B25003_001E,B25003_002E,B25003_003E,B11011_001E,B11011_002E,state_right
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,1638,7250,5509,1741,5509,3283,2226,5509,4017,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,2188,17538,12740,4798,12740,9528,3212,12740,9360,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,6046,24322,19228,5094,19228,11118,8110,19228,13087,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,312,2783,1946,837,1946,1470,476,1946,1399,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,1038,12455,8795,3660,8795,6758,2037,8795,6228,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,0,67,14,53,14,14,0,14,0,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,78,418,317,101,317,230,87,317,186,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,254,552,487,65,487,361,126,487,376,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,0,54,0,54,0,0,0,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,253,1463,1027,436,1027,697,330,1027,654,02

In [29]:
#join
tmp = tmp.set_index('zip code tabulation area').join(Zip_5.set_index('zip code tabulation area'), lsuffix = '_left', rsuffix = '_right')
tmp=tmp.reset_index()
tmp

,zip code tabulation area,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,state_right,B11011_003E,B11011_004E,B11011_005E,B11011_017E,B11011_018E,B21001_001E,B21001_002E,B21001_003E,state
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,72,2442,2323,119,1395,97,13553,275,13278,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,72,6166,5160,1006,2622,758,30868,596,30272,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,72,7131,6702,429,4764,1364,37773,1979,35794,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,72,666,660,6,527,20,5206,93,5113,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,72,3901,3333,568,1966,601,21683,425,21258,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,02,0,0,0,14,0,14,0,14,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,02,129,88,10,42,29,705,74,631,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,02,240,197,13,81,20,1188,93,1095,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,02,0,0,0,0,0,0,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,02,530,462,26,166,124,2034,224,1810,02

In [30]:
tmp = tmp.set_index('zip code tabulation area').join(Zip_6.set_index('zip code tabulation area'), lsuffix = '_left', rsuffix = '_right')
tmp=tmp.reset_index()
tmp

,zip code tabulation area,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,5897,778,69,146,160,144,33,23,0,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,12618,413,3508,659,235,33,72,0,0,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,16205,3979,423,416,708,1596,982,13,0,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,2440,255,6,14,38,21,0,9,0,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,9219,587,1877,313,244,98,97,20,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,49,0,0,0,0,0,0,18,0,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,228,0,27,5,8,9,14,119,8,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,394,27,4,3,15,12,18,79,0,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,996,9,48,77,99,5,21,208,0,02

In [31]:
ACS_zipcode=tmp
#ACS_zipcode.drop(columns = ['index'], axis=1, inplace=True) 
ACS_zipcode.rename(columns = {'zip code tabulation area':'zipcode'}, inplace = True)
ACS_zipcode

,zipcode,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
0,00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,5897,778,69,146,160,144,33,23,0,72
1,00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,12618,413,3508,659,235,33,72,0,0,72
2,00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,16205,3979,423,416,708,1596,982,13,0,72
3,00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,2440,255,6,14,38,21,0,9,0,72
4,00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,9219,587,1877,313,244,98,97,20,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,49,0,0,0,0,0,0,18,0,02
33116,99925,45.2,43.2,45.7,908,520,388,43,24,47,...,228,0,27,5,8,9,14,119,8,02
33117,99926,34.7,34.8,34.6,1654,885,769,45,78,82,...,394,27,4,3,15,12,18,79,0,02
33118,99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,02
33119,99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,996,9,48,77,99,5,21,208,0,02

In [32]:
#set index
ACS_zipcode.set_index('zipcode',inplace=True)
ACS_zipcode

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
zipcode,,,,,,,,,,,,,,,,,,,,,
00601,41.9,40.1,43.2,17113,8533,8580,596,434,640,333,...,5897,778,69,146,160,144,33,23,0,72
00602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,718,...,12618,413,3508,659,235,33,72,0,0,72
00603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,1026,...,16205,3979,423,416,708,1596,982,13,0,72
00606,44.3,44.2,45.3,6392,3201,3191,143,140,194,144,...,2440,255,6,14,38,21,0,9,0,72
00610,42.7,40.7,44.9,26686,12920,13766,515,723,805,537,...,9219,587,1877,313,244,98,97,20,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,0,...,49,0,0,0,0,0,0,18,0,02
99925,45.2,43.2,45.7,908,520,388,43,24,47,17,...,228,0,27,5,8,9,14,119,8,02
99926,34.7,34.8,34.6,1654,885,769,45,78,82,48,...,394,27,4,3,15,12,18,79,0,02
99927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,02
99929,49.4,49.7,49.1,2502,1357,1145,53,53,85,78,...,996,9,48,77,99,5,21,208,0,02

In [ ]:
ACS_zipcode.to_csv('ACS_2019_5year__zipcode_US.csv') # for all US

In [46]:
# install geopandas if you do have it.
import geopandas as gpd
import pandas as pd
zipcod2010 = gpd.read_file("zipcode_IL.shp", dtype={'GEOID10':str})
zipcod2010

      GEOID10                                           geometry
0     1762359  POLYGON ((-91.18290 40.02688, -91.17667 40.026...
1     1762376  POLYGON ((-91.37869 40.18069, -91.38047 40.180...
2     1762312  POLYGON ((-90.98754 39.79384, -90.98734 39.791...
3     1762365  POLYGON ((-91.24202 39.80099, -91.20823 39.800...
4     1762246  POLYGON ((-89.46095 38.78455, -89.46092 38.777...
...       ...                                                ...
1379  1760484  POLYGON ((-87.72536 41.45632, -87.70949 41.456...
1380  1762948  MULTIPOLYGON (((-89.02158 37.74880, -89.02159 ...
1381  1762921  POLYGON ((-89.08682 37.81120, -89.08343 37.811...
1382  1762915  MULTIPOLYGON (((-89.11179 37.78764, -89.11927 ...
1383  1761088  MULTIPOLYGON (((-89.21870 42.38545, -89.21867 ...

[1384 rows x 2 columns]

In [47]:
ACS_zipcode_IL = ACS_zipcode.reset_index()
ACS_zipcode_IL.insert(0, 'state', '17')
ACS_zipcode_IL["zipcode2"] = ACS_zipcode_IL["state"] + ACS_zipcode_IL["zipcode"]
ACS_zipcode_IL.drop(columns = ['state','zipcode'], axis=1, inplace=True) #ACS_zipcode_shp.drop(ACS_zipcode_shp.columns[[1]], axis=1, inplace=True)
ACS_zipcode_IL.rename(columns={'zipcode2':'zipcode'}, inplace=True)
#ACS_zipcode_IL.set_index('zipcode',inplace=True)
ACS_zipcode_IL

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right,zipcode
0,41.9,40.1,43.2,17113,8533,8580,596,434,640,333,...,778,69,146,160,144,33,23,0,72,1700601
1,42.9,42.4,43.8,37751,18488,19263,785,1183,826,718,...,413,3508,659,235,33,72,0,0,72,1700602
2,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,1026,...,3979,423,416,708,1596,982,13,0,72,1700603
3,44.3,44.2,45.3,6392,3201,3191,143,140,194,144,...,255,6,14,38,21,0,9,0,72,1700606
4,42.7,40.7,44.9,26686,12920,13766,515,723,805,537,...,587,1877,313,244,98,97,20,0,72,1700610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,0,...,0,0,0,0,0,0,18,0,02,1799923
33116,45.2,43.2,45.7,908,520,388,43,24,47,17,...,0,27,5,8,9,14,119,8,02,1799925
33117,34.7,34.8,34.6,1654,885,769,45,78,82,48,...,27,4,3,15,12,18,79,0,02,1799926
33118,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,02,1799927
33119,49.4,49.7,49.1,2502,1357,1145,53,53,85,78,...,9,48,77,99,5,21,208,0,02,1799929

In [48]:
ACS_zipcode_IL.zipcode
#zipcod2010.GEOID10

0        1700601
1        1700602
2        1700603
3        1700606
4        1700610
          ...
33115    1799923
33116    1799925
33117    1799926
33118    1799927
33119    1799929
Name: zipcode, Length: 33120, dtype: object

In [49]:
ACS_zipcode_IL_shp=ACS_zipcode_IL
ACS_zipcode_IL_shp.set_index('zipcode',inplace=True)
ACS_zipcode_IL_shp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
zipcode,,,,,,,,,,,,,,,,,,,,,
1700601,41.9,40.1,43.2,17113,8533,8580,596,434,640,333,...,5897,778,69,146,160,144,33,23,0,72
1700602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,718,...,12618,413,3508,659,235,33,72,0,0,72
1700603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,1026,...,16205,3979,423,416,708,1596,982,13,0,72
1700606,44.3,44.2,45.3,6392,3201,3191,143,140,194,144,...,2440,255,6,14,38,21,0,9,0,72
1700610,42.7,40.7,44.9,26686,12920,13766,515,723,805,537,...,9219,587,1877,313,244,98,97,20,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,0,...,49,0,0,0,0,0,0,18,0,02
1799925,45.2,43.2,45.7,908,520,388,43,24,47,17,...,228,0,27,5,8,9,14,119,8,02
1799926,34.7,34.8,34.6,1654,885,769,45,78,82,48,...,394,27,4,3,15,12,18,79,0,02
1799927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,02
1799929,49.4,49.7,49.1,2502,1357,1145,53,53,85,78,...,996,9,48,77,99,5,21,208,0,02

In [50]:
ACS_zipcode_IL_shp=ACS_zipcode_IL_shp.reset_index()
ACS_zipcode_IL_shp

,zipcode,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
0,1700601,41.9,40.1,43.2,17113,8533,8580,596,434,640,...,5897,778,69,146,160,144,33,23,0,72
1,1700602,42.9,42.4,43.8,37751,18488,19263,785,1183,826,...,12618,413,3508,659,235,33,72,0,0,72
2,1700603,42.1,40.0,43.7,47081,23120,23961,1024,1241,1507,...,16205,3979,423,416,708,1596,982,13,0,72
3,1700606,44.3,44.2,45.3,6392,3201,3191,143,140,194,...,2440,255,6,14,38,21,0,9,0,72
4,1700610,42.7,40.7,44.9,26686,12920,13766,515,723,805,...,9219,587,1877,313,244,98,97,20,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,1799923,-666666666.0,-666666666.0,-666666666.0,14,0,14,0,0,0,...,49,0,0,0,0,0,0,18,0,02
33116,1799925,45.2,43.2,45.7,908,520,388,43,24,47,...,228,0,27,5,8,9,14,119,8,02
33117,1799926,34.7,34.8,34.6,1654,885,769,45,78,82,...,394,27,4,3,15,12,18,79,0,02
33118,1799927,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,02
33119,1799929,49.4,49.7,49.1,2502,1357,1145,53,53,85,...,996,9,48,77,99,5,21,208,0,02

In [51]:
#ACS_zipcode_IL_shp.zipcode
zipcod2010.GEOID10

0       1762359
1       1762376
2       1762312
3       1762365
4       1762246
         ...
1379    1760484
1380    1762948
1381    1762921
1382    1762915
1383    1761088
Name: GEOID10, Length: 1384, dtype: object

In [52]:
#ACS_zipcode_IL_shp.drop(columns = ['geometry'], axis=1, inplace=True)
#ACS_zipcode_IL_shp

#ACS_tract_shp.reset_index()
ACS_zipcode_IL_shp = zipcod2010.set_index('GEOID10').join(ACS_zipcode_IL_shp.set_index('zipcode'))
ACS_zipcode_IL_shp=ACS_zipcode_IL_shp.reset_index()
ACS_zipcode_IL_shp

,GEOID10,geometry,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
0,1762359,"POLYGON ((-91.18290 40.02688, -91.17667 40.026...",42.1,33.8,45.3,159,97,62,22,0,...,65,0,0,0,0,0,0,0,0,17
1,1762376,"POLYGON ((-91.37869 40.18069, -91.38047 40.180...",39.2,38.8,39.6,1110,552,558,43,57,...,466,4,4,24,16,12,0,20,0,17
2,1762312,"POLYGON ((-90.98754 39.79384, -90.98734 39.791...",40.5,36.9,42.8,1951,879,1072,102,61,...,840,3,59,30,11,0,2,33,0,17
3,1762365,"POLYGON ((-91.24202 39.80099, -91.20823 39.800...",43.9,44.7,40.5,477,291,186,14,24,...,168,0,0,0,0,0,0,49,0,17
4,1762246,"POLYGON ((-89.46095 38.78455, -89.46092 38.777...",40.5,39.0,44.8,9964,5426,4538,130,383,...,2995,14,56,212,140,85,200,318,12,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379,1760484,"POLYGON ((-87.72536 41.45632, -87.70949 41.456...",32.5,29.0,35.4,6423,2712,3711,239,271,...,1334,461,0,274,93,30,515,0,0,17
1380,1762948,"MULTIPOLYGON (((-89.02158 37.74880, -89.02159 ...",38.8,37.1,40.4,13248,6175,7073,428,372,...,4497,226,466,328,134,40,62,218,0,17
1381,1762921,"POLYGON ((-89.08682 37.81120, -89.08343 37.811...",36.5,37.8,36.3,332,144,188,9,16,...,99,0,10,0,0,0,0,69,0,17
1382,1762915,"MULTIPOLYGON (((-89.11179 37.78764, -89.11927 ...",34.0,33.1,34.6,431,220,211,15,0,...,139,0,3,3,0,0,0,27,0,17
1383,1761088,"MULTIPOLYGON (((-89.21870 42.38545, -89.21867 ...",44.2,41.3,46.9,6216,3134,3082,157,186,...,2278,98,52,14,40,0,21,0,0,17

In [53]:

ACS_zipcode_IL_shp.rename(columns={'GEOID10':'zipcode'}, inplace=True)
ACS_zipcode_IL_shp['zipcode2'] = ACS_zipcode_IL_shp['zipcode'].str[2:]
ACS_zipcode_IL_shp['state'] = ACS_zipcode_IL_shp['zipcode'].str[:2]
ACS_zipcode_IL_shp

,zipcode,geometry,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,...,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right,zipcode2,state
0,1762359,"POLYGON ((-91.18290 40.02688, -91.17667 40.026...",42.1,33.8,45.3,159,97,62,22,0,...,0,0,0,0,0,0,0,17,62359,17
1,1762376,"POLYGON ((-91.37869 40.18069, -91.38047 40.180...",39.2,38.8,39.6,1110,552,558,43,57,...,4,24,16,12,0,20,0,17,62376,17
2,1762312,"POLYGON ((-90.98754 39.79384, -90.98734 39.791...",40.5,36.9,42.8,1951,879,1072,102,61,...,59,30,11,0,2,33,0,17,62312,17
3,1762365,"POLYGON ((-91.24202 39.80099, -91.20823 39.800...",43.9,44.7,40.5,477,291,186,14,24,...,0,0,0,0,0,49,0,17,62365,17
4,1762246,"POLYGON ((-89.46095 38.78455, -89.46092 38.777...",40.5,39.0,44.8,9964,5426,4538,130,383,...,56,212,140,85,200,318,12,17,62246,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379,1760484,"POLYGON ((-87.72536 41.45632, -87.70949 41.456...",32.5,29.0,35.4,6423,2712,3711,239,271,...,0,274,93,30,515,0,0,17,60484,17
1380,1762948,"MULTIPOLYGON (((-89.02158 37.74880, -89.02159 ...",38.8,37.1,40.4,13248,6175,7073,428,372,...,466,328,134,40,62,218,0,17,62948,17
1381,1762921,"POLYGON ((-89.08682 37.81120, -89.08343 37.811...",36.5,37.8,36.3,332,144,188,9,16,...,10,0,0,0,0,69,0,17,62921,17
1382,1762915,"MULTIPOLYGON (((-89.11179 37.78764, -89.11927 ...",34.0,33.1,34.6,431,220,211,15,0,...,3,3,0,0,0,27,0,17,62915,17
1383,1761088,"MULTIPOLYGON (((-89.21870 42.38545, -89.21867 ...",44.2,41.3,46.9,6216,3134,3082,157,186,...,52,14,40,0,21,0,0,17,61088,17

In [54]:
ACS_zipcode_IL_shp.drop(columns = ['zipcode'], axis=1, inplace=True) 
ACS_zipcode_IL_shp

,geometry,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,...,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right,zipcode2,state
0,"POLYGON ((-91.18290 40.02688, -91.17667 40.026...",42.1,33.8,45.3,159,97,62,22,0,0,...,0,0,0,0,0,0,0,17,62359,17
1,"POLYGON ((-91.37869 40.18069, -91.38047 40.180...",39.2,38.8,39.6,1110,552,558,43,57,18,...,4,24,16,12,0,20,0,17,62376,17
2,"POLYGON ((-90.98754 39.79384, -90.98734 39.791...",40.5,36.9,42.8,1951,879,1072,102,61,40,...,59,30,11,0,2,33,0,17,62312,17
3,"POLYGON ((-91.24202 39.80099, -91.20823 39.800...",43.9,44.7,40.5,477,291,186,14,24,24,...,0,0,0,0,0,49,0,17,62365,17
4,"POLYGON ((-89.46095 38.78455, -89.46092 38.777...",40.5,39.0,44.8,9964,5426,4538,130,383,252,...,56,212,140,85,200,318,12,17,62246,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379,"POLYGON ((-87.72536 41.45632, -87.70949 41.456...",32.5,29.0,35.4,6423,2712,3711,239,271,187,...,0,274,93,30,515,0,0,17,60484,17
1380,"MULTIPOLYGON (((-89.02158 37.74880, -89.02159 ...",38.8,37.1,40.4,13248,6175,7073,428,372,390,...,466,328,134,40,62,218,0,17,62948,17
1381,"POLYGON ((-89.08682 37.81120, -89.08343 37.811...",36.5,37.8,36.3,332,144,188,9,16,4,...,10,0,0,0,0,69,0,17,62921,17
1382,"MULTIPOLYGON (((-89.11179 37.78764, -89.11927 ...",34.0,33.1,34.6,431,220,211,15,0,61,...,3,3,0,0,0,27,0,17,62915,17
1383,"MULTIPOLYGON (((-89.21870 42.38545, -89.21867 ...",44.2,41.3,46.9,6216,3134,3082,157,186,345,...,52,14,40,0,21,0,0,17,61088,17

In [55]:
ACS_zipcode_IL_shp.rename(columns={'zipcode2':'zipcode'}, inplace=True)
ACS_zipcode_IL_shp.set_index('zipcode',inplace=True)
ACS_zipcode_IL_shp.drop(columns = ['state','geometry'], axis=1, inplace=True) 
ACS_zipcode_IL_shp

,B01002_001E,B01002_002E,B01002_003E,B01001_001E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,...,DP04_0007E,DP04_0008E,DP04_0009E,DP04_0010E,DP04_0011E,DP04_0012E,DP04_0013E,DP04_0014E,DP04_0015E,state_right
zipcode,,,,,,,,,,,,,,,,,,,,,
62359,42.1,33.8,45.3,159,97,62,22,0,0,10,...,65,0,0,0,0,0,0,0,0,17
62376,39.2,38.8,39.6,1110,552,558,43,57,18,1,...,466,4,4,24,16,12,0,20,0,17
62312,40.5,36.9,42.8,1951,879,1072,102,61,40,15,...,840,3,59,30,11,0,2,33,0,17
62365,43.9,44.7,40.5,477,291,186,14,24,24,7,...,168,0,0,0,0,0,0,49,0,17
62246,40.5,39.0,44.8,9964,5426,4538,130,383,252,186,...,2995,14,56,212,140,85,200,318,12,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60484,32.5,29.0,35.4,6423,2712,3711,239,271,187,148,...,1334,461,0,274,93,30,515,0,0,17
62948,38.8,37.1,40.4,13248,6175,7073,428,372,390,291,...,4497,226,466,328,134,40,62,218,0,17
62921,36.5,37.8,36.3,332,144,188,9,16,4,12,...,99,0,10,0,0,0,0,69,0,17
62915,34.0,33.1,34.6,431,220,211,15,0,61,19,...,139,0,3,3,0,0,0,27,0,17
61088,44.2,41.3,46.9,6216,3134,3082,157,186,345,118,...,2278,98,52,14,40,0,21,0,0,17

In [56]:
ACS_zipcode_IL_shp.to_csv('ACS_2019_5year__zipcode_IL.csv')